body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 1%, rgba(93,41,144,1) 53%);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    height: 100vh;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(255 255 255);
    border-radius: 10px;
}

h1 {
    text-align: center;
    border-bottom: 1px solid rgb(192 192 192);
    font-family: 'Noto Sans KR', sans-serif;
    color: rgb(73 46 101)
}

.text-field {
    border-bottom: 2px solid rgb(211 211 211);
}
.text-field input {
    width: 100%;
    padding: 5px 4px;
    height: 29px;
    font-size: 15px;
    border: none;
}

form {
    padding: 0px 40px;
    box-sizing: border-box;
}

button {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 17px;
    border-radius: 33px;
    border: 1px solid rgb(211 211 211);
    padding: 10px;
    margin-top: 36px;
    background: linear-gradient(90deg, rgba(-1,0,36,1) 1%, rgba(93,41,144,1) 53%);
    color: rgb(255 255 255);
}



.text-fields#inputs{
        width: 100%;
        padding: 0 4px;
        height: 40px;
        font-size: 15px;
}


div#footer {
    margin-left: 67px;
    margin-top: 35px;
}
